/* ===================================
    BASE
    Default styles and resets
====================================== */

/* Box sizing reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Removes default spacing */
h1,
p,
ul {
	margin: 0;
	padding: 0;
}

/* ===================================
    PAGE
	Global layout and typography
====================================== */

/* Base typography and page background */
body {
	background-color: #ffffff;
	color: #0a0a0a;
	font-family: "Nimbus Sans L", sans-serif;
}

/* ===================================
    SECTION: ASSIGNMENTS
	Displays overview and navigation
====================================== */

/* Main page wrapper (centers content) */
.assignments {
	min-height: 100vh;
	max-width: 90rem;
	width: 100%;
	display: grid;
	place-items: center;
	margin-inline: auto;
	padding-inline: 2%;
}

/* Inner container (spacing and stacking) */
.assignments__container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-inline: 8px;
}

/* Page title */
.assignments__title {
	margin-block: 12px;
	font-size: 2rem;
	line-height: 1.3;
	font-weight: 500;
	text-align: center;
}

/* ===================================
    NAVIGATION
	Lists link to assignment pages
====================================== */

/* Navigation wrapper */
.site-nav {
	width: 100%;
}

/* Vertical list of links */
.site-nav__list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	list-style-type: none;
}

/* Link container */
.site-nav__item {
	width: 75%;
	border: 1px solid #0a0a0a;
}

/* Link items */
.site-nav__link {
	display: block;
	text-align: center;
	font-size: 1rem;
	line-height: 1.5;
	padding-block: 1.125rem;
}

/* Default and visited link styles */
.site-nav__link,
.site-nav__link:visited {
	text-decoration: none;
	color: #0a0a0a;
}
