/* ===================================
    TYPOGRAPHY
	Headings and supporting text
====================================== */

/* Landing page title */
.assignments__title {
	margin-block: 12px;
	text-align: center;
}

/* Assignment page title */
.assignment__title {
	margin-bottom: 16px;
}

.assignments__title,
.assignment__title {
	font-size: 2.25rem;
	line-height: 1.3;
	font-weight: 500;
	letter-spacing: 0.05rem;
}

/* Assignment page supporting text */
.assignment__text {
	margin-bottom: 16px;
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 400;
	letter-spacing: 0.03rem;
	color: #4a5565;
}

.project__title {
	font-size: 1.375rem;
	line-height: 1.7;
	font-weight: 400;
	letter-spacing: 0.03rem;
}
