/* ===================================
    SECTION: ASSIGNMENT 02
    Layout and structure
====================================== */

/* Inner container (controls content width and height) */
.assignment--two {
	max-width: 28rem;
	width: 100%;
	min-height: 28rem;
}
