/* ===================================
    SECTION: ASSIGNMENT 01
    Layout and structure
====================================== */

/* Inner container (controls content width and height) */
.assignment--one {
	max-width: 28rem;
	width: 100%;
	min-height: 21rem;
}

.project--calculator {
	padding-inline: 24px;
}
