/* ===================================
    SECTION: PROJECT CONTAINER
    Layout and structure
====================================== */

/* Size modifier for word counter component */
.project__container--word-counter {
	width: 100%;
	max-width: 30rem;
	min-height: 24rem;
}
