/* ===================================
    SECTION: PROJECT CONTAINER
    Layout and structure
====================================== */

/* Size modifier for calculator component */
.project__container--calculator {
	width: 100%;
	max-width: 28rem;
	min-height: 16rem;
}
